.header
= render partial: 'shared/side_bar'
.main
  .main-top
    .main-top__group-box
      .main-top__group-box__name
        =@group.name
      .main-top__group-box__menber
        Member: 
        - @members.each do |member|
          = member 
          
    .main-top__edit-box
      =link_to 'edit', class: "main-top__edit-box__text" do
        Edit
  = render @messages
.form
  = form_for [@group, @message] do |f|
    .form__input-box
      = f.text_field :content, class: 'form__input-box__message', placeholder: 'type a message'
      .form__input-box__mask
        = f.label :image, class: 'form__input-box__mask__image' do
          = fa_icon 'picture-o', class: 'form__input-box__mask__image__icon'
          = f.file_field :image, class: 'form__input-box__mask__image__hidden'
      = f.submit 'Send', class: 'form__input-box__submit'
-# .form
-#   .form__new-message
-#     .form__new-message__input-box
-#       .form__new-message__input-box__text
-#         %input.input-text{:class => "form__new-message__input-box__text--inside", :placeholder => "type a message", :type => "text" }
-#       .form__new-message__input-box__image
        
-#         %label.upload-label{for: "upload-icon"}
-#           %i.fa.fa-picture-o
-#           %input{:class => "form__new-message__input-box__image__post", :type => "file", :id => "upload-icon"}   
-#     .form__new-message__submit-btn
-#       %input.submit-btn{:class => "form__new-message__submit-btn__detail", :type =>"submit", :value => "Send", :name => "btn" } 

         


    
   



 
